{% extends "profile/base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="content-section">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            img {
                padding-top: 4px;
                border-radius: 80%;
                width: 100px;
                height: 100px
            }
        </style>
        <div class="media">
            <br>
            <br>
            <img src="{{ profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ profile.user.username }}</h2>
                <h6 class="account-heading">{{ profile.bio }}</h6>

            </div>
            <form action="{%url 'profile' profile.id%}" method="post" enctype="multipart/form-data">
                {% csrf_token%}
                

            </form>
        </div>


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update Profile Picture or Bio</button>
            </div>
        </form>

    </div>
    <div>
        <a href="{% url 'upload'%}"> Upload Project</a>
    </div>
    
</div>

{% endblock content %}