{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  {% if title %}
  <title>Neighbourhood Watch - {{title}}</title>
  {% else %}
    <title> Neighbourhood Watch </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
  {% endblock %}
</head>
<body>
  <style type="text/css">
    body {background-color:rgb(211, 208, 208);}
   
    </style>
    {% include "navbar.html" %}

    {% block content %} {%endblock%}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>