{%extends 'photos/base.html'%}
{% load bootstrap3%}
{% block content %}
{{block.super}}

<div class="container">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="row">
        <!-- Single Image -->
      

        <!--Display images  -->
        <div class="col-md-4"></div>
            <div class="col-sm-7 col-md-7">
                <br>
                <br>
                <br>
                <img src="{{nhood.image.url}}" class="img-responsive" alt="Image"
                    style="padding-top :10px; width: 350px;height:300px; margin: 5px 5px 15px 0px;">
               
                <p>{{ nhood.name }}</p>
                <p>{{ nhood.location }}</p>
           
                <form action="{% url 'neighbourhood' nhood.id%}" method="POST" enctype="multipart/form-data">

                    {% csrf_token%}
                    <input type="hidden" name="neighbourhood_id" value="{{nhood.id}}">
                    {% bootstrap_form form layout='inline' %}
                    <input type="submit" value="Comment" style="padding:10px">
            


                </form>
                     
                {% for comment in comments%}
   
                <p><strong>{{comment.user.username}}</strong> Comment {{comment.comment}}</p>
               
                {%endfor%}

            </div>
            
        
     
        <div class="col-md-3"></div>
    </div>

</div>


{% endblock %}